
/* Your CSS Code here. */
.moviePic{
    height: 264px;
    width: 180;
    opacity:0.8 ;
    float: left;
    margin-right: 20px;

}
.movieDetail{
    position: relative;
    top: 50%;
    left: 50%;
    width: 60%;
    text-align: center;
    font-size: 1.2em;
}
.movieContainer{
    position: relative;
}