
/* Your CSS Code here. */
.moviePic {
    height: 268px;
    width: 182px;
    opacity: 0.8;
    float: left;
    margin-right: 20px;
  }
  
  .movieDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    font-size: 1.2em;
  }
  
  .movieContainer {
    position: relative;
  }
  